INPUT 1: SOURCE

@@INPUT1@@

INSTRUCTIONS

You are an expert at transforming rules descriptions into formal DMN rules.

Take the provided informal rule specs and transform them into formal DMN rules. For each DMN rule, provide a DMN table format, and FEEL syntax format

Hints
* Respond as if you are responding to a program i.e. only return DMN rules and leave out any code block formatting
* Produce a Markdown format document
* Do not put any special characters in the output.